*{
    margin: 0px;
}
#wrapper{
    width: 75%;
    height: auto;
    margin: 0px auto;
}
#header{
    width: 100%;
    height: 150px;
    background-color: rgb(206, 202, 156);
}
#logo{
    width: 200px;
    height: 150px;
    background-color: rgb(206, 202, 156);
    float: left;
}
img{
    margin-left: 20px;
    margin-top: 20px;
}
nav{
    margin-left: 200px;
}
#menu{
    height: 150px;
    width: 1239px;
    background-color: rgb(206, 202, 156);
    float: left;
}
#content{
    width: 100%;
    height: auto;
    background-color: lemonchiffon;
}
#search{
    width: 500px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    margin-left: 450px;
}
#input-field{
    height: 45px;
    width: 388px;
}
#submit{
    height: 51px;
    width: 100px;
}
#meal-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 50px;
    margin-top: 20px;
}
#meal-items2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 10px;
}
.meals-categories{
    border: 1px solid burlywood;
    border-radius: 2px;
    padding: 20px;
    width: 350px;
    margin-bottom: 20px;
    float: left;
}
.meal-header{
    font-size: 25px;
    color: coral;
}
.meal-header2{
    font-size: 24px;
    color: rgb(246, 75, 7);
}
#footer{
    width: 100%;
    height: 50px;
    background-color: darkslategray;
    color: white;
}
.meal-img{
    width: 310px;
    height: 220px;
}
p{
    text-align: justify;
    text-justify: inter-word;
}
.previous-div{
    width: 100px;
    height: 30px;
    background-color: antiquewhite;
}
.previous-button{
    width: 100px;
    height: 30px;
}